<!DOCTYPE html>
<html>

<head>
	<title>Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <p> Click whether you want to create a new checking account or saving account.</p>

	<p><a href = "/newchecking">New Checking</a></p>
	
    <p><a href = "/newsaving">New Saving</a></p>

    <p><a href = "/profile">Return to summary page</a></p>
</body>
</html>